@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: white;
  padding-top: 80px;
  margin: 0;
  padding: 0;
}

header,
footer {
  position: fixed;
  width: 100%;
  z-index: 999;
  text-align: center;
  background-color: lightgray;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  top: 0;
  height: 50px;
  padding: 1.5em 0;
  border-bottom: 1px solid black;
}

footer {
  bottom: 0;
  height: 14px;
  padding: 1em 0;
  border-top: 1px solid black;
}

input {
  padding: 0.2em;
  font-size: 1.3em;
  margin-left: 1.5em;
}

label {
  font-size: 1.5em;
}

button {
  padding: 0.4em 0.9em;
  margin-right: 0.3em;
  letter-spacing: 1pt;
  background-color: #005a87;
  border-radius: 5px;
  color: #f4c700;
  font-weight: bold;
  cursor: pointer;
}
