.left {
  display: flex;
  align-items: center;
  width: 40%;
  margin-left: 1em;
}

.title {
  margin-left: 0.5em;
  font-size: 1.5em;
}

.right {
  display: flex;
  align-items: center;
}

.navigator {
  margin-right: 26px;
  font-size: 1.5em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 12px;
  text-align: center;
}

.homeLogo {
  width: 400px;
  margin-top: 5em;
}

.message {
  font-size: 2em;
  font-weight: bold;
  margin-top: 1em;
}

.input-field {
  margin: 12px 0;
}

.button-container {
  display: flex;
  justify-content: space-between;
}
